{
  "parser": "typescript-eslint-parser",
  "extends": [
    "standard-with-typescript",
    "plugin:react/recommended"
  ],
  "plugins": [
    "typescript",
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": "off",
    "indent-legacy": ["error", 2, { "SwitchCase": 1 }],
    "react/prop-types": "off",
    "react/jsx-no-target-blank": "off",
    "typescript/explicit-function-return-type": "off"
  },
  "env": {
    "browser": true,
    "worker": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "16.5.2"
    }
  }
}