
/src/server/scripts/credentials.js
/node_modules/
/.idea/
/db/
/courses/
/uploads/
/build/static/img/
/build/static/courseimg/
/build/static/coursedata/
/src/static.js
/build/server/
/build/electron/
/build/client/
/build/release/
/build/net64/
/report.html
/stats.json
