/uploads/
/config/credentials*
/node_modules/
/build/static/img/
/build/static/courseimg/
/build/static/coursedata/
/build/test-server/
/src/static.js
/build/server/
/build/client/
/build/release/
/build/net64/
/build/similarity/
/report.html
/stats.json
