/uploads/
/config/credentials*
/node_modules/
/build/static/img/
/build/static/courseimg/
/build/static/coursedata/
/src/static.js
/build/server/
/build/client/
/build/release/
/build/net64/
/build/similarity/
/build/react-loadable.json
/report.html
/stats.json
